:root {
    --color-background: #0f0e17;
    --color-headline: #fffffe;
    --color-paragraph: #a7a9be;
    --color-button: #ff8906;
    --color-button-text: #fffffe;
    --color-card: #fefefe;
    /* SECONDARY */
    --color-stroke: black;
    --color-main: #fffffe;
    --color-secondary: #f25f4c;
    --color-tertiary: #e53170;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    color: var(--color-headline);
    background: var(--color-background);
}


/* Body */

.content__bar {
    height: 1rem;
    background-color: var(--color-secondary);
}

.content__about {
    padding: 1.4rem;
}

h1 {
    font-size: 2.5rem;
}

.back__icon {
    font-size: 2rem;
    margin-right: 1.25rem;
}

.content__h2 {
    background: var(--color-button);
    width: 80%;
    border-radius: 1rem;
}

h2 {
    padding: 1rem;
}

p {
    word-spacing: .25rem;
    line-height: 2rem;
    font-size: 1.4rem;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: var(--color-paragraph);
}

@media (min-width: 1080px) {
    html {
        font-size: 11px;
    }
    .content__h2 {
        width: 40%;
    }
}