:root {
    --color-background: #0f0e17;
    --color-headline: #fffffe;
    --color-paragraph: #a7a9be;
    --color-button: #ff8906;
    --color-button-text: #fffffe;
    --color-card: #fefefe;
    /* SECONDARY */
    --color-stroke: black;
    --color-main: #fffffe;
    --color-secondary: #f25f4c;
    --color-tertiary: #e53170;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
}

body {
    display: grid;
    grid-template-columns: 30rem auto;
}


/* NAV BAR */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.05rem;
    background: var(--color-background);
    color: var(--color-headline);
    padding: 1.75rem;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
}

.content__nav {
    margin-top: 3rem;
}

.paragraph__nav {
    color: var(--color-paragraph);
    line-height: 1.4rem;
}

.img__nav {
    width: 20rem;
    margin: 0 auto 10rem auto;
}

.button {
    background: var(--color-button);
    color: var(--color-button-text);
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    border-radius: .4rem;
    padding: 1rem 1.4rem;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.05);
}

.content__help,
.footer {
    position: absolute;
    bottom: 0;
    font-weight: 300;
    font-size: 0.95rem;
}

.content__help {
    top: 0;
}

.span__help {
    font-weight: bold;
}

.footer {
    bottom: 1rem;
    color: var(--color-paragraph);
    z-index: 5;
    letter-spacing: .1rem;
}


/* MAIN */

.container {
    background: var(--color-button-text);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-card);
    padding: 1.5em;
    z-index: 5;
    border-radius: .25em;
    box-shadow: 0px 4px 25px rgba(32, 32, 32, 0.2);
}

.wave {
    position: absolute;
    width: calc(100% - 30rem);
    bottom: 0;
    overflow: hidden;
    stroke: none;
    fill: rgba(245, 243, 185, .75);
}

.input {
    background-color: white;
    margin-right: 1rem;
    outline: none;
    border-left: solid 3px var(--color-background);
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.05);
    cursor: text;
    color: var(--color-background);
    font-weight: 400;
    letter-spacing: 0.15rem;
}

.input:focus {
    border: none;
    border-left: solid 3px var(--color-secondary);
}

.next {
    background: var(--color-secondary);
}

.content__results {
    display: none;
    margin: 1em;
    width: 100%;
}

.container__h2 {
    font-size: 4rem;
}

.section__button {
    display: flex;
    justify-content: flex-end;
}

.paragraph {
    color: #363636;
}

.resetGame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 2rem;
    background-color: #182e36;
    color: white;
    border-radius: 50%;
    border: none;
    padding: .5em;
    cursor: pointer;
}

.container__results {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.content__answer {
    padding: 1em;
    font-size: 2em;
}

.correct {
    color: #0ce755;
}

.error {
    color: #e70c0c;
}

table {
    color: white;
    border-spacing: 0;
}

td {
    padding: 0.5rem 1rem;
    text-align: center;
}

thead {
    background: #202932;
    font-weight: bold;
}

tbody {
    font-size: 0.85rem;
}

tbody tr:nth-child(odd) {
    background: #2c3845;
}

tbody tr:nth-child(even) {
    background: #242e39;
}

tbody tr:hover {
    background: #202a33;
}