:root {
    --color-background: #0f0e17;
    --color-headline: #fffffe;
    --color-paragraph: #a7a9be;
    --color-button: #ff8906;
    --color-button-text: #fffffe;
    --color-card: #fefefe;
    /* SECONDARY */
    --color-stroke: black;
    --color-main: #fffffe;
    --color-secondary: #f25f4c;
    --color-tertiary: #e53170;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    background: var(--color-background);
}

.content__bar {
    height: 1rem;
    background-color: var(--color-secondary);
}

.nav {
    font-size: 1.5rem;
    color: var(--color-headline);
    padding: 1.75rem;
}

.content__nav {
    margin-top: 3rem;
}

.paragraph__nav {
    color: var(--color-paragraph);
    line-height: 1.9rem;
}

.img__nav {
    display: none;
}

.button__span {
    background-color: var(--color-button-text);
    font-weight: bold;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    padding-left: 0;
}

.button {
    text-decoration: none;
    background: var(--color-button);
    color: var(--color-button-text);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: .4rem;
    padding: 1.05rem 1.4rem;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.05);
}

.content__help,
.footer {
    position: absolute;
    bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.content__help {
    top: 0;
}

.content__help {
    display: none;
}

.footer {
    display: none;
    position: absolute;
    font-size: 1.2rem;
    width: 100%;
    bottom: 1rem;
    padding: 0 auto;
    color: var(--color-paragraph);
    z-index: 5;
    letter-spacing: .1rem;
    text-align: center;
}


/* CARD */

.container__content {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    background-color: var(--color-card);
    padding: 1.5em;
    margin: 1em;
    z-index: 5;
    border-radius: .25em;
    box-shadow: 0px 4px 25px rgba(32, 32, 32, 0.2);
}

.wave {
    display: none;
}

.input {
    background-color: var(--color-main);
    margin-right: 1rem;
    outline: none;
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.15);
    cursor: text;
    color: var(--color-background);
    font-weight: 400;
    letter-spacing: 0.15rem;
}

.input:focus {
    border: none;
    border-left: solid 3px var(--color-secondary);
}

.next {
    background: var(--color-secondary);
}

.content__results {
    display: none;
    margin: 1em;
    width: 100%;
}

.container__h2 {
    font-size: 5rem;
    text-align: center;
}

.section__button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.paragraph {
    text-align: center;
    color: #363636;
}

.button__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 2rem;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 50%;
    border: none;
    padding: .5em;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.05);
}

.container__results {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.content__answer {
    padding: 1em;
    font-size: 2em;
}

.correct {
    color: #0ce755;
}

.errorIcon {
    color: #e70c0c;
}


/* TABLE ALPHABET */

.container__tables {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-button-text);
    top: 5rem;
    display: none;
    z-index: 10;
    width: 80%;
    padding: 2.5rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 20px rgba(32, 32, 32, 0.25);
}

.content__tables {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.table {
    background: var(--color-secondary);
    color: var(--color-headline);
    font-size: 1.6rem;
}

.table__answer {
    display: flex;
    justify-content: center;
}

.th {
    padding: 0.5rem;
    color: white;
}

.error {
    color: #e70c0c;
    background-color: var(--color-card);
}

td {
    width: 8rem;
    padding: 0.5rem 1.5rem;
}

.show {
    pointer-events: auto;
    display: flex;
}

@media (max-width: 331px) {
    .input {
        width: 58.5%;
    }
}